/* external css: flickity.css */

* {
  box-sizing: border-box;
}

html,
body {
  user-select: none;
  font-family: 'proxima_nova_ltbold', 'Helvetica Neue', helvetica, Arial,
    sans-serif;
  font-size: 15px;
  color: white;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background: #053043;
}

.carousel {
  background: rgba(0, 0, 0, 0.7);
  height: 95%;
}

.carousel-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  background: #053043;
  border-radius: 5px;
  text-align: center;
}

#comicBig .carousel-cell {
  display: flex;
  overflow: hidden;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel-cell img {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 100%;
  height: auto;
}
.carousel-cell .number {
  margin-top: -11px;
}

/* BUTTONS TOP */
.flickity-viewport {
  overflow: hidden;

  height: 100%;
}

.flickity-button {
  background: transparent;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 50%;
  height: 100%;
  border-radius: 0px;
}
/* icon color */
.flickity-button-icon {
  background: transparent;
  color: transparent;
}
/* hide disabled button */
.flickity-button:disabled {
  display: none;
}
.flickity-button:hover {
  background: transparent;
}

/* NAV */
.carousel-nav {
  height: 151px;
  min-width: 360px;
  background: transparent;
}

.carousel-nav .carousel-cell {
  height: 151;
  width: 93px;
  background: transparent;
  margin-top: 10px;
}

.carousel-nav .carousel-cell:before {
  font-size: 50px;
  line-height: 80px;
}

.carousel-nav .carousel-cell.is-nav-selected {
  background: #ed2;
}
.carousel-nav img {
  width: auto;
}

/* BUTTONS NAV */

.carousel-nav .flickity-prev-next-button {
  width: 50px;
  height: 130%;
}
.carousel-nav .flickity-button {
  background: transparent;
}
.carousel-nav .flickity-button:disabled {
  display: none;
}
.carousel-nav .flickity-button-icon {
  background: white;
  color: grey;
}
.carousel-nav .flickity-button:hover {
  background: #ed2;
  border-radius: 0px;
}

/* MENU  */

.menu {
  color: #e0e0e0;
  position: fixed;
  bottom: 0px;
  right: 0;
  height: 48px;
  background: rgba(0, 0, 0, 0.7);
  border-top: 1px solid #454545;
  white-space: nowrap;
  width: 100%;
  z-index: 4;
}

.item {
  display: block;
  float: left;
  border-left: 1px solid #454545;
  height: 100%;
  line-height: 48px;
  min-width: 64px;
  text-align: center;
  cursor: pointer;
}
.counter {
  margin: 0px 15px;
}

.icons-menu {
  max-height: 34px;
  display: inline-block;
  background-size: 25px 50px;
  background-position-y: top;
  height: 25px;
  width: 25px;
  position: relative;
  top: 8px;
}
.active-icon {
  background-position-y: bottom;
}

#icon-logo {
  margin-left: 15px;
  background-size: 73px 26px;
  height: 25px;
  width: 73px;
}

.sprite-pages {
  background-image: url('../img/ecc-pages-button.png');
}
.sprite-two-pages {
  background-image: url('../img/ecc-twopage-button.png');
}
.sprite-zoom {
  background-image: url('../img/ecc-zoom-button.png');
}
.sprite-logo {
  background-image: url('../img/ecc-logo.png');
}
.title {
  width: 50%;
}
.title-comic {
  padding: 0 10px;
  width: 60%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  background-color: #e7e7e7;
  opacity: 0.7;
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

/* CONTROL PAGES */
.pages-hidden {
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  position: fixed;
  width: 100%;
  bottom: 48px;
  background: rgba(0, 0, 0, 0.7);
  border-top: 1px solid #454545;
  padding: 5px;
  overflow: hidden;
  height: 173px;
  transition-property: heght top transform -webkit-transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.pages-view {
  z-index: 3;
  position: fixed;
  width: 100%;
  bottom: 48px;
  background: rgba(0, 0, 0, 0.7);
  border-top: 1px solid #454545;
  padding: 5px;
  overflow: hidden;
  height: 173px;
  transition-property: heght top transform -webkit-transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

/* DOUBLE */
.container-double {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerDouble img {
  width: auto;
}
.wrapperDouble {
  width: 50%;
  height: 100%;
}

#comicBig .imagen01 {
  margin: 0px 0px 0px auto;
}

#comicBig .imagen02 {
  margin: 0px auto 0px 0px;
}
#pages .imagen01 {
  margin: 0px 0px 0px auto;
}

#pages .imagen02 {
  margin: 0px auto 0px 0px;
}
/*  ZOOM */
@keyframes zoomInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.containerZoom01 {
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
}

.containerZoom01 img {
  width: 100%;
  height: auto !important;
  transition-property: opacity;
  transition-duration: 4s;
  transition-delay: 2s;
  animation-name: zoomInOut;
  animation-timing-function: linear;
  animation-duration: 0.8s;
}

@media (max-width: 1025px) {
  .no-show-tablet {
    display: none;
  }

  .carousel-nav .flickity-prev-next-button {
    display: none;
    width: 50px;
    height: 130%;
  }
  .carousel-nav .flickity-button {
    display: none;
    background: transparent;
  }
  .carousel-nav .flickity-button:disabled {
    display: none;
  }
  .carousel-nav .flickity-button-icon {
    display: none;
    background: white;
    color: grey;
  }
  .carousel-nav .flickity-button:hover {
    display: none;
    background: #ed2;
    border-radius: 0px;
  }
}
@media (max-width: 767px) {
  .no-show-mobile {
    display: none;
  }
}

/* SPINNER */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
